<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.modu.mapper.RecipeMapper">
	<insert id="insertRecipe" parameterType="Recipe">
		insert into RECIPE (ID,
							M_EMAIL,
							M_NICKNAME,
							PROFILE_IMG,
							TITLE,
							INFO,
							FOOD,
							FOOD_PHOTO,
							SORT,
							INGREDIENT,
							SERVING,
							COOK_TIME,
							DIFFICULTY_LEVEL,
							<!-- 공개, 비공개, 임시저장을 위해 xml파일에 추가 domain과 sql에는 있음.  -->
							ACCESSIBILITY) values(RECIPE_SEQ.nextval,
								  					 #{mEmail},
								  					 #{mNickname},
								  					 #{profileImg},
								  					 #{title},
								  					 #{info},
								  					 #{food, jdbcType=VARCHAR},
								  					 #{foodPhoto, jdbcType=VARCHAR},
								  					 #{sort},
								  					 #{ingredient},
								  					 #{serving},
								  					 #{cookTime},
								  					 #{difficultyLevel},
								  					 #{accessibility})
		<selectKey keyProperty="id" resultType="LONG" order="AFTER">
	    	select NVL(MAX(ID),0) from RECIPE where M_EMAIL=#{mEmail}
	  	</selectKey>
	</insert>
	<insert id="insertIngredient" parameterType="Ingredient">
		insert into INGREDIENT values(INGR_SEQ.nextval,
									  #{rId},
									  #{ingredientType},
									  #{ingredient},
									  #{quantity})
	</insert>
	<insert id="insertDirection" parameterType="Direction">
		insert into DIRECTION values(DIR_SEQ.nextval,
									 #{rId},
									 #{step},
									 #{direction},
									 #{originalFile},
									 #{saveFile})
	</insert>
	<insert id="insertTag" parameterType="RecipeTag">
		insert into RECIPE_TAG values(TAG_SEQ.nextval,
									  #{rId},
									  #{tag})
	</insert>
	<update id="updateRecipe" parameterType="Recipe">
		update RECIPE set TITLE=#{title},
						  INFO=#{info},
						  FOOD=#{food},
						  FOOD_PHOTO=#{foodPhoto},
						  SORT=#{sort},
						  INGREDIENT=#{ingredient},
						  SERVING=#{serving},
						  COOK_TIME=#{cookTime},
						  DIFFICULTY_LEVEL=#{difficultyLevel},
						  UPDATE_DATE=SYSDATE,
						  ACCESSIBILITY=#{accessibility}
		where ID=#{id}
	</update>
	<update id="updateIngredient" parameterType="Ingredient">
		update INGREDIENT set INGREDIENT_TYPE=#{ingredientType},
							  INGREDIENT=#{ingredient},
							  QUANTITY=#{quantity}
		where ID=#{id}							  
	</update>
	<update id="updateDirection" parameterType="Direction">
		update DIRECTION set STEP=#{step},
							 DIRECTION=#{direction},
							 ORIGINAL_FILE=#{originalFile},
							 SAVE_FILE=#{saveFile}
		where R_ID=#{rId} and STEP=#{step}							 
	</update>
	<delete id="deleteRecipe" parameterType="long">
		delete from RECIPE where ID=#{id}
	</delete>
	<delete id="deleteIngredientAll" parameterType="long">
		delete from INGREDIENT where R_ID=#{rId}
	</delete>
	<delete id="deleteIngredient" parameterType="long">
		delete from INGREDIENT where ID=#{id}
	</delete>
	<delete id="deleteDirectionAll" parameterType="long">
		delete from DIRECTION where R_ID=#{rId}
	</delete>
	<delete id="deleteDirection" parameterType="long">
		delete from DIRECION where ID=#{id}
	</delete>
	<delete id="deleteTagAll" parameterType="long">
		delete from RECIPE_TAG where R_ID=#{rId}
	</delete>
	<delete id="deleteTag" parameterType="long">
		delete from RECIPE_TAG where ID=#{id}
	</delete>
	
	<select id="selectRecipeId" parameterType="String" resultType="long">
		select NVL(MAX(ID),0) from RECIPE where M_EMAIL=#{email}
	</select>
	<select id="selectRecipe" parameterType="long" resultType="Recipe">
		select * from RECIPE where ID=#{id}
	</select>
	<select id="selectIngredient" parameterType="long" resultType="Ingredient">
		select * from INGREDIENT where R_ID=#{rId}
	</select>
	<select id="selectDirection" parameterType="long" resultType="Direction">
		select * from DIRECTION where R_ID=#{rId}
	</select>
	<select id="selectRecipeTag" parameterType="long" resultType="RecipeTag">
		select * from RECIPE_TAG where R_ID=#{rId}
	</select>
	<select id="selectRecipeListBy" resultType="RecipeList">
		select * from (select ROWNUM list,
		                      ID,
		                      FOOD_PHOTO,
		                      TITLE,
		                      FOOD,                
		                      PROFILE_IMG,
		                      M_NICKNAME,
		                      M_EMAIL,
		                      STAR,
		                      STARS,
		                      HITS from RECIPE)
		where list BETWEEN #{beginRow} AND #{endRow}
		order by ID desc
	</select>
	<select id="selectRecipeListByPeriod" resultType="RecipeList">
		select * from (select ROWNUM list,
		                      ID,
		                      FOOD_PHOTO,
		                      TITLE,
		                      FOOD,                
		                      PROFILE_IMG,
		                      M_NICKNAME,
		                      M_EMAIL,
		                      STAR,
		                      STARS,
		                      HITS from RECIPE
		                where POST_DATE BETWEEN <![CDATA[CURRENT_DATE-#{period}]]> AND CURRENT_DATE)
		where list BETWEEN #{beginRow} AND #{endRow}
		order by ID desc
	</select>
	<select id="selectRecipeListByCategory" resultType="RecipeList">
		<choose>
			<when test="period != 0">
				<![CDATA[
				select * from (select ROWNUM list,
				                      ID,
				                      FOOD_PHOTO,
				                      title, 
				                      FOOD, 
				                      PROFILE_IMG,
				                      M_NICKNAME,
				                      M_EMAIL,
				                      STAR,
				                      STARS,
				                      HITS from (select * from RECIPE where POST_DATE BETWEEN CURRENT_DATE-#{period} AND CURRENT_DATE
				                                 intersect
				                                 select * from RECIPE where SORT like '%'||#{category}||'%' OR INGREDIENT like '%'||#{category}||'%'))
				where list BETWEEN #{beginRow} AND #{endRow}
				order by ID desc
				]]>
			</when>
			<otherwise>
				<![CDATA[
				select * from (select ROWNUM list,
				                      ID,
				                      FOOD_PHOTO,
				                      title, 
				                      FOOD, 
				                      PROFILE_IMG,
				                      M_NICKNAME,
				                      M_EMAIL,
				                      STAR,
				                      STARS,
				                      HITS from (select * from RECIPE where SORT like '%'||#{category}||'%' OR INGREDIENT like '%'||#{category}||'%'))
				where list BETWEEN #{beginRow} AND #{endRow}
				order by ID desc
				]]>			
			</otherwise>
		</choose>
	</select>
	<select id="selectRecipeListByKeyword" resultType="RecipeList">
		<choose>
			<when test="period != 0">
				<![CDATA[
				select * from (select ROWNUM list,
				                      ID,
				                      FOOD_PHOTO,
				                      title, 
				                      FOOD, 
				                      PROFILE_IMG,
				                      M_NICKNAME,
				                      M_EMAIL,
				                      STAR,
				                      STARS,
				                      HITS from (select * from RECIPE where POST_DATE BETWEEN CURRENT_DATE-#{period} AND CURRENT_DATE
				                                 intersect
				                                 select * from RECIPE where ${nameOption} like '%'||#{keyword}||'%'))
				where list BETWEEN #{beginRow} AND #{endRow}
				order by ID desc
				]]>
			</when>
			<otherwise>
				<![CDATA[
				select * from (select ROWNUM list,
				                      ID,
				                      FOOD_PHOTO,
				                      title, 
				                      FOOD, 
				                      PROFILE_IMG,
				                      M_NICKNAME,
				                      M_EMAIL,
				                      STAR,
				                      STARS,
				                      HITS from (select * from RECIPE where ${nameOption} like '%'||#{keyword}||'%'))
				where list BETWEEN #{beginRow} AND #{endRow}
				order by ID desc
				]]>				
			</otherwise>
		</choose>
	</select>
	<select id="selectRecipeListByIngredient" resultType="RecipeList">
		<choose>
			<when test="period != 0">
				<![CDATA[
				select * from (select ROWNUM list,
				                      ID,
				                      FOOD_PHOTO,
				                      TITLE, 
				                      FOOD, 
				                      PROFILE_IMG,
				                      M_NICKNAME,
				                      M_EMAIL,
				                      STAR,
				                      STARS,
				                      HITS from (select ID,
									                    FOOD_PHOTO,
									                    TITLE, 
									                    FOOD, 
									                    PROFILE_IMG,
									                    M_NICKNAME,
									                    M_EMAIL,
									                    STAR,
									                    STARS,
									                    HITS from RECIPE where POST_DATE BETWEEN CURRENT_DATE-#{period} AND CURRENT_DATE
				                                 intersect
												 select DISTINCT(r.ID) ID,
												        r.FOOD_PHOTO, 
												        r.TITLE,
												        r.FOOD,
												        r.PROFILE_IMG,
												        r.M_NICKNAME,
												        r.M_EMAIL,
												        r.STAR,
												        r.STARS,
												        r.HITS from RECIPE r left join INGREDIENT ingr on r.ID=ingr.R_ID where ingr.INGREDIENT like '%'||#{keyword}||'%'))
				where list BETWEEN #{beginRow} AND #{endRow}
				order by ID desc
				]]>
			</when>
			<otherwise>
				<![CDATA[
				select * from (select ROWNUM list,
				                      ID,
				                      FOOD_PHOTO,
				                      TITLE, 
				                      FOOD, 
				                      PROFILE_IMG,
				                      M_NICKNAME,
				                      M_EMAIL,
				                      STAR,
				                      STARS,
				                      HITS from (select DISTINCT(r.ID) ID,
												        r.FOOD_PHOTO, 
												        r.TITLE,
												        r.FOOD,
												        r.PROFILE_IMG,
												        r.M_NICKNAME,
												        r.M_EMAIL,
												        r.STAR,
												        r.STARS,
												        r.HITS from RECIPE r left join INGREDIENT ingr on r.ID=ingr.R_ID where ingr.INGREDIENT like '%'||#{keyword}||'%')
								      order by ID desc)
				where list BETWEEN #{beginRow} AND #{endRow}
				]]>				
			</otherwise>
		</choose>						
	</select>
	<select id="selectRecipeListByRandom" resultType="RecipeList">
		select * from (select ID,
		                      FOOD_PHOTO,
		                      TITLE, 
		                      FOOD, 
		                      PROFILE_IMG,
		                      M_NICKNAME,
		                      M_EMAIL,
		                      STAR,
		                      STARS,
		                      HITS from RECIPE
		               order by DBMS_RANDOM.RANDOM)
		where ROWNUM BETWEEN #{beginRow} AND #{endRow}	
	</select>
	<select id="selectRecipeListByIngredients" resultType="RecipeList">
		select * from (select ROWNUM list,
				              ID,
				              FOOD_PHOTO,
				              TITLE, 
				              FOOD, 
				              PROFILE_IMG,
				              M_NICKNAME,
				              M_EMAIL,
				              STAR,
				              STARS,
				              HITS from (${query}))
		where list BETWEEN #{beginRow} AND #{endRow}         		              		            
	</select>
	<select id="selectRecipeListOfMember" resultType="RecipeList">
		select * from (select ROWNUM list,
				              ID,
				              FOOD_PHOTO,
				              TITLE, 
				              FOOD, 
				              PROFILE_IMG,
				              M_NICKNAME,
				              M_EMAIL,
				              STAR,
				              STARS,
				              HITS from RECIPE where M_EMAIL=#{email})
		where list BETWEEN #{beginRow} AND #{endRow}
		order by ID desc				            
	</select>
	<select id="selectRecipeListOfMemberByType" resultType="RecipeList">
		select * from (select ROWNUM list,
				              ID,
				              FOOD_PHOTO,
				              TITLE, 
				              FOOD, 
				              PROFILE_IMG,
				              M_NICKNAME,
				              M_EMAIL,
				              STAR,
				              STARS,
				              HITS from RECIPE where M_EMAIL=#{email} and ACCESSIBILITY=#{type})
		where list BETWEEN #{beginRow} AND #{endRow}
		order by ID desc				             
	</select>	
	<select id="selectRecipeListOfBookmark" resultType="RecipeList">
		select * from (select ROWNUM list,
		                      sid,
		                      ID,
		                      FOOD_PHOTO,
		                      TITLE, 
		                      FOOD, 
		                      PROFILE_IMG,
		                      M_NICKNAME,
		                      M_EMAIL,
		                      STAR,
		                      STARS,
		                      HITS from (select DISTINCT(r.ID),
		                                        s.ID sid,
		                                        r.FOOD_PHOTO,
		                                        r.TITLE, 
		                                        r.FOOD, 
		                                        r.PROFILE_IMG,
		                                        r.M_NICKNAME,
		                                        r.M_EMAIL,
		                                        r.STAR,
		                                        r.STARS,
		                                        r.HITS from RECIPE r inner join SCRAP s on r.ID = s.R_ID
		                                  where r.M_EMAIL=#{email}))              
		where list BETWEEN #{beginRow} AND #{endRow}
		order by sid desc
	</select>
	<select id="selectRecipeSummary" parameterType="long" resultType="RecipeList">
		select ID, FOOD_PHOTO, TITLE, SORT from RECIPE where ID=#{id}
	</select>
	
	
	<select id="selectRecipeCount" resultType="int">
		select NVL(MAX(ROWNUM), 0) from RECIPE
	</select>	
	<select id="selectRecipeCountByPeriod" parameterType="int" resultType="int">
		select NVL(MAX(ROWNUM), 0) from RECIPE where POST_DATE BETWEEN <![CDATA[CURRENT_DATE-#{period}]]> AND CURRENT_DATE	
	</select>
	<select id="selectRecipeCountByCategory" resultType="int">
		<choose>
			<when test="period != 0">
				<![CDATA[
				select NVL(MAX(ROWNUM), 0) from (select * from RECIPE where POST_DATE BETWEEN CURRENT_DATE-#{period} AND CURRENT_DATE
								                 intersect
				                                 select * from RECIPE where SORT like '%'||#{category}||'%' OR INGREDIENT like '%'||#{category}||'%')
				]]>
			</when>
			<otherwise>
				select NVL(MAX(ROWNUM), 0) from (select * from RECIPE where SORT like '%'||#{category}||'%' OR INGREDIENT like '%'||#{category}||'%')
			</otherwise>		
		</choose>	
	</select>
	<select id="selectRecipeCountByKeyword" resultType="int">
		<choose>
			<when test="period != 0">
				<![CDATA[
				select NVL(MAX(ROWNUM), 0) from (select * from RECIPE where POST_DATE BETWEEN CURRENT_DATE-#{period} AND CURRENT_DATE
				                                 intersect
				                                 select * from RECIPE where ${nameOption} like '%'||#{keyword}||'%')
				]]>
			</when>
			<otherwise>
				<![CDATA[
				select NVL(MAX(ROWNUM), 0) from (select * from RECIPE where ${nameOption} like '%'||#{keyword}||'%')
				]]>				
			</otherwise>
		</choose>		
	</select>
	<select id="selectRecipeCountByIngredient" resultType="int">
		<choose>
			<when test="period != 0">
				<![CDATA[
				select NVL(MAX(ROWNUM), 0) from (select ID from RECIPE where POST_DATE BETWEEN CURRENT_DATE-#{period} AND CURRENT_DATE
				                                 intersect
												 select DISTINCT(r.ID) ID from RECIPE r left join INGREDIENT ingr on r.ID=ingr.R_ID
												 where ingr.INGREDIENT like '%'||#{keyword}||'%')
				]]>
			</when>
			<otherwise>
				<![CDATA[
				select NVL(MAX(ROWNUM), 0) from (select DISTINCT(r.ID) from RECIPE r left join INGREDIENT ingr on r.ID=ingr.R_ID
											     where ingr.INGREDIENT like '%'||#{keyword}||'%')
				]]>				
			</otherwise>
		</choose>		
	</select>
	<select id="selectRecipeCountByIngredients" parameterType="String" resultType="int">
		 select NVL(MAX(ROWNUM), 0) from (${query})   	
	</select>
	<select id="selectRecipeCountOfMember" parameterType="String" resultType="int">
		select NVL(MAX(ROWNUM), 0) from RECIPE where M_EMAIL=#{email}
	</select>
	<select id="selectRecipeCountOfMemberByType" resultType="int">
		select NVL(MAX(ROWNUM), 0) from RECIPE where M_EMAIL=#{email} and ACCESSIBILITY=#{type}
	</select>	
	<select id="selectRecipeCountOfBookmark" parameterType="String" resultType="int">
		select NVL(MAX(ROWNUM), 0) from (select DISTINCT(r.ID) from RECIPE r inner join SCRAP s on r.ID = s.R_ID where r.M_EMAIL=#{email})
	</select>
	
	<!-- 베스트 레시피 -->
	<select id="selectRecipeListByBestHits" parameterType="long" resultType="RecipeList">
		select * from (select * from RECIPE order by HITS desc)
		where ROWNUM BETWEEN #{beginRow} AND #{endRow}
	</select>
	<!-- 레시피 사진 업데이트 -->
	<update id="updateRecipePhoto" parameterType="Recipe">
		update RECIPE set FOOD_PHOTO=#{foodPhoto} where ID=#{id}
	</update>
</mapper>
