.main-container {
    max-width: 1400px;
}

/*占쏙옙占쏙옙占쏙옙*/
@font-face {
  font-family: "Montserrat"; /* 占쏙옙占쏙옙構占� 占쏙옙占쏙옙 font-family占쏙옙占쏙옙 占쏙옙占쏙옙 */
  src: url("../css/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("opentype"); /* 占쏙옙트占쏙옙占쏙옙 占쌀뤄옙占쏙옙占쏙옙 */
}

/*占쏙옙占쏙옙占쏙옙*/
@font-face {
  font-family: "Fasthand-Regular"; /* 占쏙옙占쏙옙構占� 占쏙옙占쏙옙 font-family占쏙옙占쏙옙 占쏙옙占쏙옙 */
  src: url("../css/fonts/Fasthand-Regular.ttf") format("opentype"); /* 占쏙옙트占쏙옙占쏙옙 占쌀뤄옙占쏙옙占쏙옙 */
}

@font-face {
  font-family: "SongMyung-Regular"; /* 占쏙옙占쏙옙構占� 占쏙옙占쏙옙 font-family占쏙옙占쏙옙 占쏙옙占쏙옙 */
  src: url("../css/fonts/SongMyung-Regular.ttf") format("opentype"); /* 占쏙옙트占쏙옙占쏙옙 占쌀뤄옙占쏙옙占쏙옙 */
}

@font-face {
  font-family: "NotoSerifKR-Medium"; /* 占쏙옙占쏙옙構占� 占쏙옙占쏙옙 font-family占쏙옙占쏙옙 占쏙옙占쏙옙 */
  src: url("../css/fonts/NotoSerifKR-Medium.otf") format("opentype"); /* 占쏙옙트占쏙옙占쏙옙 占쌀뤄옙占쏙옙占쏙옙 */
}

.mention {
    /* margin-top: 0; */
    padding:90px;
    display:flex;
    margin-bottom: 1rem;
    justify-content:center;
	text-align: center;
	font-family: 'Fasthand-Regular', sans-serif !important;
	font-size:100px bolder;
}

.fixed01, .fixed02, .fixed03, .fixed04 {
	display:flex;
    justify-content:center;
	text-align: center;
}

.page-title {
	display:flex;
    justify-content:center;
	text-align: center;
}

.recipe-title a {
	font-family: 'NotoSerifKR-Medium', sans-serif !important;
	font-size:15px;
	width: auto;
    text-decoration: none;
}

.recipe-thumb {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.chef-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.chef-name {
    color: black;
    text-decoration: none;
}

/* mobile size */
@media(max-width:454px){
    .chef-list {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px)
.col-md-3 {
    flex: 0 0 auto;
    width: 20%;
}

/* 占쏙옙타 */
.btn-more {
     color: black;
     text-decoration: none;
}