/* ���ο��� ������ ���� */
.main-container {
    max-width: 1400px;
}

/*������*/
@font-face {
  font-family: "Montserrat"; /* ����ϰ� ���� font-family���� ���� */
  src: url("../css/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("opentype"); /* ��Ʈ���� �ҷ����� */
}

/*������*/
@font-face {
  font-family: "Fasthand-Regular"; /* ����ϰ� ���� font-family���� ���� */
  src: url("../css/fonts/Fasthand-Regular.ttf") format("opentype"); /* ��Ʈ���� �ҷ����� */
}

@font-face {
  font-family: "SongMyung-Regular"; /* ����ϰ� ���� font-family���� ���� */
  src: url("../css/fonts/SongMyung-Regular.ttf") format("opentype"); /* ��Ʈ���� �ҷ����� */
}

@font-face {
  font-family: "NotoSerifKR-Medium"; /* ����ϰ� ���� font-family���� ���� */
  src: url("../css/fonts/NotoSerifKR-Medium.otf") format("opentype"); /* ��Ʈ���� �ҷ����� */
}

.mention {
    /* margin-top: 0; */
    padding:90px;
    display:flex;
    margin-bottom: 1rem;
    justify-content:center;
	text-align: center;
	font-family: 'Fasthand-Regular', sans-serif !important;
	/* font-family: 'Fasthand-Regular', sans-serif !important; */
	font-size:100px bolder;
}

.fixed01, .fixed02, .fixed03, .fixed04 {
	display:flex;
    justify-content:center;
	text-align: center;
}

.page-title {
	display:flex;
    justify-content:center;
	text-align: center;
}
/* ����Ʈ ������ Ÿ��Ʋ �۾�ü ���� */
.recipe-title a {
	font-family: 'NotoSerifKR-Medium', sans-serif !important;
	font-size:17px;
	width: auto;
    text-decoration: none;
}

/* ���� ��ŷ */
.chef-pic {
    border-radius: 50%;
    width: 70%;
}

.chef-name {
    color: black;
    text-decoration: none;
}

/* mobile size */
@media(max-width:454px){
    .chef-list {
        font-size: 0.8rem;
    }
}

@media (min-width: 768px)
.col-md-3 {
    flex: 0 0 auto;
    width: 20%;
}

/* ��Ÿ */
.btn-more {
     color: black;
     text-decoration: none;
}