.main {
	background: #EEEEEE;
}

.main-color {
	color: #937062;
}

.form-check-label {
	font-size: 0.8rem;
}

#signupbutton {
	background: #937062;
	border-style: none;
	margin: auto;
	display: block;
}

.main form label {
	margin-bottom: 5px;
}

.form-btn {
	width: 100%;
}

.form-btn:hover {
	background: #6b5146 !important;
	color: white;
	box-shadow: 1px 1px solid;
}

.acc-box {
	min-width: 650px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px rgb(150, 150, 150);
}

@media ( max-width :454px) {
	.main input::placeholder, .main select, .main label, .main textarea::placeholder,
		.form-check-label {
		font-size: 0.8rem;
	}
	.form-btn, .form-btn-cancel .acc-box p, .acc-btn {
		font-size: 0.8rem;
	}
	.acc-box {
		min-width: 330px;
		max-width: 330px;
		padding: 30px;
	}
	.agreements {
		font-size: 0.7rem !important;
	}
}

/*회원가입 이메일 유효성 검사(중복체크) ajax 문구*/
.email_ajax_1 {
	display: none;
	font-size: 12px;
	color: rgb(147, 112, 98);
	text-align: center;
}

.email_ajax_2, .email_ajax_3 {
	display: none;
	font-size: 12px;
	color: green;
	text-align: center;
}

/*회원가입 닉네임 유효성 검사(중복체크) ajax 문구*/
.nickname_ajax_1 {
	display: none;
	font-size: 12px;
	color: rgb(147, 112, 98);
	text-align: center;
}

.nickname_ajax_2, .nickname_ajax_3 {
	display: none;
	font-size: 12px;
	color: green;
	text-align: center;
}

/* 약관 사이즈 */
.agreements {
	font-size: 12px;
	padding: 10px 10px 10px 10px;
	border: 0.1px solid rgb(147, 112, 98);
}

#registerokbutton {
	color: #fff;
	background: #937062;
	border-style: none;
	margin: auto;
	display: block;
	border-radius: 4px;
	cursor: pointer;
	border: 0;
	outline: 0;
}

/* 이미 회원이신가요? */
.alreadyregister {
	font-size: 14px;
	color: #42332d;
	text-decoration: none;
	background-color: transparent;
	align-items: center;
}

.main {
	background: #EEEEEE;
}

#modifyOkBtn {
	color: #ffffff;
	background: #937062;
	border-style: none;
	margin: auto;
	display: block;
	width: 90%;
}

#removeOkBtn {
	background: rgba(214, 200, 194, 0.25);
	color: gray;
	border-style: none;
	margin: auto;
	display: block;
	width: 90%;
}

/* 현재 프사 띄우기 배경영역 */
#previewImg,
#previewImg_default {
	background: rgba(214, 200, 194, 0.25);
	border-style: none;
	margin: auto 0;
	padding: 10px;
	display: block;
	width: auto;
	font-size: 15px;
	text-align: center;
}

/* 현재 프사 이미지 */
#img_previewImg {
	max-width: 200px;
	max-height: 200px;
	border-radius: 5px;
	margin: auto 0;
	text-align: center;
	cursor: pointer;
	color: gray;
}


/* 변경할 프사 미리보기 */
.thumb {
	max-width: 200px;
	max-height: 200px;
	border-radius: 5px;
	margin: auto 0;
	text-align: center;
	cursor: pointer;
	color: gray;
}

.form-control-file {
	text-align: center;
	justify-content: center;
	align-items: center;
}
/*내정보 수정시 닉네임 유효성 검사(중복체크) ajax 문구*/
.nickname_ajax_1, .nickname_ajax_4 {
	display: none;
	font-size: 12px;
	color: rgb(147, 112, 98);
	text-align: center;
	justify-content: center;
	align-items: center;
}

.nickname_ajax_2, .nickname_ajax_3 {
	display: none;
	font-size: 12px;
	color: green;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#id_marketing_yes,
#id_marketing_no {
	text-align: center;
}