.border-top {
    border-top: solid 1px white;
}

.gold-btn {
    color:white;
    background-color: rgb(150, 110, 90);
}

.gold-btn:hover {
    color: white;
    background-color: rgb(170, 130, 110);
}

#m_nickname {
    background-color: white;
}

form label {
    min-width: 100px !important;
    height: 40px;
}

.form-bg {
    background-color: rgb(150, 110, 90);
}

.form-bg:focus {
    background-color: rgb(150, 110, 90);
    color: white;
}

.form-bg::placeholder {
    color: rgb(230, 230, 230);
}

#title {
    color: white;
}

form input, form select {
    border-radius: 0px !important;
    height: 40px;
}

body {
    background: #EEEEEE;
}

.main-size {
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(150, 150, 150);
}

form textarea {
    border-radius: 0px !important;
}

.form-btn {
    height: 40px;
    width: 100px;
}

form {
    width: 600px !important;
}

.main {
    min-height: 68vh;
}

@media(max-width:454px){
    .main-container * {
        font-size: 0.8rem;
    }
    form .btn {
        width: 80px;
        height: 30px;
    }
    .file label, .file input {
        height: 30px !important;
    }
    .space {
        display: none;
    }
    .main {
        margin-top: 30px;
    }
}