/* 메인 컨테이너 */
.main-container {
    max-width: 1050px;
}

/* 쉐프 랭킹 */
.chef-pic {
    border-radius: 50%;
    width: 70%;
}

.chef-name {
    color: black;
    text-decoration: none;
}

/* mobile size */
@media(max-width:454px){
    .chef-list {
        font-size: 0.8rem;
    }
}

/* 기타 */
.btn-more {
     color: black;
     text-decoration: none;
}