.logo {
    height: 60px;
    width: 180px;
}

.form-check-label {
    font-size: 0.8rem;
    }

#signupbutton{
    background: #937062;
    border-style: none;
    margin:auto;
    display:block;
}

#searchbutton {
    background: #937062;
}

#searchform {
    background: #937062;
}

#formsearch {
    background: #937062;
}

.main form label {
    margin-bottom: 5px;
}

.form-btn {
    width: 100%;
}

.form-btn:hover {
    background: #6b5146 !important;
    color:white;
    box-shadow: 1px 1px solid;
}

.acc-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(150, 150, 150);
}

@media(max-width:454px) {
    .main input::placeholder, .main select, .main label, .main textarea::placeholder, .form-check-label {
        font-size: 0.8rem;
    }

    .form-btn, .form-btn-cancel .acc-box p, .acc-btn {
        font-size: 0.8rem;
    }

    .acc-box {
        padding: 30px;
    }
}

body {
    background: #EEEEEE;
}